<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title</title>

    <!-- Bootstrap -->
    <link rel='stylesheet' href='/content/bootstrap.css' type='text/css' media='all'>
    <link rel='stylesheet' href='/content/jquery-ui.min.css' type='text/css' media='all'>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>


    <h2>@ViewBag.Title</h2>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="Scripts/bootstrap.min.js"></script>
    <div>
        <a class="btn" href="@Url.Action("Index", "Employee")" id="A1"><span class="font-icon-group"></span>Список сотрудников</a>
        <a class="btn" href="@Url.Action("Index", "ProgrammingLanguage")" id="A1"><span class="font-icon-group"></span>Список языков программирования</a>
        <a class="btn" href="@Url.Action("Index", "Department")" id="A1"><span class="font-icon-group"></span>Список отделов</a>
    </div>
    @RenderBody()
    @Html.ActionLink("Добавить", "Create", null, new { @class = "btn btn-primary" })
</body>
</html>
